<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>表单</title>

    <link rel="stylesheet" href="../css/layui.css" media="all" />
</head>

<body>
<div style="margin: 15px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>员工信息编辑</legend>
    </fieldset>
    <form class="layui-form" action="" method="post">
        <?php foreach($rs as $v){ ?>
        <div class="layui-form-item">
            <label class="layui-form-label">员工编号:</label>
            <div class="layui-input-block">
                <input type="text" name="empNo"  autocomplete="off" class="layui-input" value="<?php echo $v['empNo']; ?>">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">员工姓名：</label>
                <div class="layui-input-block">
                    <input type="text" name="empName" autocomplete="off" class="layui-input" value="<?php echo $v['empName'];?>">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">员工年龄：</label>
                <div class="layui-input-block">
                    <input type="text" name="empAge"autocomplete="off" class="layui-input" value="<?php echo $v['empAge'];?>">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">所在部门：</label>
                <div class="layui-input-block">
                    <input type="text" name="depName"autocomplete="off" class="layui-input" value="<?php echo $v['depName'];?>">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别：</label>
            <div class="layui-input-block">
                <?php if($v['empSex'] =="男"){?>
                <?php echo $sexman;}else{ ?>
                <?php echo $sexwoman;}?>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">家庭住址：</label>
            <div class="layui-input-block">
                <input type="text" name="empAddress" class="layui-input" value="<?php echo $v['empAddress'];?>">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话：</label>
            <div class="layui-input-block">
                <input type="text" name="empPhone"placeholder="" autocomplete="off" class="layui-input" value="<?php echo $v['empPhone'];?>">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">员工学历：</label>
                <div class="layui-input-block">
                    <select name="engpro">
                        <?php if($v['engpro']=="大专"){ ?>
                        <?php echo $engprodz;}else if($v['engpro']=="本科"){ ?>
                        <?php echo $engprobk;}else if($v['engpro']=="硕士"){ ?>
                        <?php echo $engpros;}else{echo $engprobs;};?>

                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">婚姻情况：</label>
                <div class="layui-input-block">
                    <select name="marsta">
                        <?php if($v['marsta'] =="已婚"){?>
                        <?php echo $marstay;}else{ ?>
                        <?php echo $marstan;}?>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">在职情况：</label>
                <div class="layui-input-block">
                    <select name="working">
                        <?php if($v['working'] =="在职"){?>
                        <?php echo $workingy;}else{ ?>
                        <?php echo $workingn;}?>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <!--<a class="layui-btn">立即提交</a>-->
                <button class="layui-btn" type="submit">提交修改</button>
                <button class="layui-btn layui-btn-primary" onclick="javascript:history.go(-1);">返回</button>
            </div>
        </div>
        <?php } ?>
    </form>
</div>
<script type="text/javascript" src="../layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form(),
            layer = layui.layer,
            layedit = layui.layedit,
            laydate = layui.laydate;

    });
</script>
</body>

</html>